<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About</h1>
  <p>Welcome to Snikr, the worlds most passive-aggressive social network...<br>This is just a fun practice application and attempt to implement a popular micro blogging site.</p>
  <ul class="text-left">
    <li><a href="http://www.nterrafranca.com">The author</a></li>
    <li><a href="https://github.com/NickTerrafranca/snicker">The code</a></li>
  </ul>
</div>

