<footer class="footer">
  <small>
  Snikr is a hobby application not intended for monetary gain
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
